
body{
    margin:0;
    padding:0;
    font-family: "Helvetica Neue"2, Helvetica, Arial,sans-serif;
    font-size: 14px;
    line-height:1.42857143;
    color:black

}
li{
    list-style-type:none;
}
#navbarNavDropdown ul{
    margin-left: auto;
}

header{
    display:block;
}
.nav a{
    color: black;
    text-decoration: none;
}

.container{
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
img{
    position: relative;
    top: 10px;
    height: 60px;

}

.col-lg-3{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.row{
    width:auto;
    margin-right: -15px;
    margin-left: -15x;

}

.col{
    width: 100%;
    float:left;
    position: relative;
    min-height:1px;
    padding-right: 15px;
    padding-left: 15px;
}

.nav-link{
    font-size: 18px;
    margin-right: 20px;
    margin-top: 40px;
    color: black !important;
    
}

.dropdown{
    margin-top: 0px;
    margin-left: 0px;
}
.navbar .dropdown .btn{
    font-size: 15px;
    font-weight:500;
    margin-top: -3px;
}

.custom-icon {
    color: #ffd000;
}

.pic1{
    background-image: url(pic1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 320px;
    height: 300px;
    border-radius: 0px 80px;
    border-top: 4px solid orange;
    float: left;
    position: relative;
    margin-top: 10px;
    
    
}
.pic2{
    background-image: url(pic2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    left: 190px;
    top:150px;
    border-radius:80px 0px;
    border-top: 4px solid orange;
    position: relative;
    z-index: 3;
}

#button-left{
    font-size: 20px;
    
}
.image-stack{
    content: " ";
    display: table;
}
.main-header{
    color: white;
    padding: 0;
}
.header-context{
    color: white;
    padding: 0;
    font-size: 25px;
}
.bg{
    width:100%;
    height: auto;
    background-image: linear-gradient(to right,#110c33,#423a7a);   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 60px;
    margin-top: 30px;
    
}
.img-header-text button{
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    background-color: #fbb608;
    border-color: #fbb608;
}
.btn {
    padding:10pxpx 15px;
    font-size: 20px
}
#button a{
    color:black;
    text-decoration: none;
}
.img-header-text .shop-now {
    margin-top: 25px;

}
.img-header-text .shop-now a{
    font-size: 20px;
    color: white;
    text-decoration: underline;
    text-decoration-color: #fbb608; 
    
}
.img-header-bottom{
    margin-top: 100px;
    font-size: 20px;
}
.divitions{
    padding-top: 1px;
}
.page2{
    margin-top: 120px;
}
.box1 {
    display: flex;
    color: gold;
    padding: 10px;
    flex-direction: column;
    height: 200px;
    border: 2px solid;
    margin: 10px;
}
.big-box{
    margin-right:auto ;
}
.page3{
    padding: 80px;
}
.small-box a{
    color: black;
}
.small-box i{
    color: gold;
    font-size: 30px;
}
.col-12 .col-lg-4{
    color: black;

}
.page4{
    text-align: center;
    width: 100%;
    background-image: linear-gradient(to right,#110c33,#423a7a);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 80px;
    margin-top: 30px;
    
}

.contacts-btn .btn-warning{
    text-align: center;
}
.phno{
    text-decoration: none;
    color: #ffe600;
    border:1px solid #fbb608;  
}
.num{
    color: yellow;
    padding-left: 30px;
    border-style: 20px solid, #fdfbfb;
}
.page5{
    margin-top: 90px;
}

/*.progress{
    color: black;
    overflow: hidden;
    background-color:black;
    border-radius: 4px;
}*/
.page6{
    margin-top: 80px;
}
.page7{
    padding-top: 50px;
}
.index{
    position: relative;
}
#number{
    position: absolute;
    font-size: 160px;
    opacity: 0.1;
    top: -70px;
}
.questions{
    background-color:hwb(200 93% 5%);
    margin-top: 50px;
}
#ask{
    text-align: center;
    margin-top: 60px;
    font-size: 50px;
    color: black;
    padding-top: 100px;
}
p{
    margin-top: 40px;
}
.form{
    
    text-align: center;
    margin-top: 10px;
    margin: auto;
    padding: 20px;
}
#fname{
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

#lname{
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
}
.Rbutton{
    background-color: #ffd000;
    border-color:#f7d30a;
    padding: 10px;
    margin: 10px;
    margin-bottom: 70px;
    padding-right: 165px;
    padding-left: 165px;
    
}
.head{
    z-index: 1;
    margin-top: 40px;
}
.big-box{
    height: 100px;
    display: flex;
    margin-bottom: 20px;
    grid: 20px;
    
    flex-wrap: wrap;
    
}
.small-box{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    justify-content: center;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    gap: 30px;
    align-items: center;
    
    border: 2px solid #ccc;
    margin: 15px;
    height: 200px;
    width: 100%;

}
.page7{
    margin-top: 80px;
}
.video i{
    color: goldenrod;
    font-size: 20px;
}
.handshake{
    width: 350px;
    height: 200px;
}
.handshake{
    width: 350px;
    height:200px
}
img{
    vertical-align: middle;
}
.quote{
    border:2px groove black;
    padding: 30px;
}
.page8{
    margin-top: 80px;
}
.footer{
    margin-top: 100px;
    padding: 80px;
    width: 100%;
    background-image:linear-gradient(to right,#110c33,#423a7a) ;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.footer-logo{
    background-color: #ffffff;
    color: #ffffff;
}
@media (max-width:574px){
    .pic1{

    }
    .pic2{
        
    }
}
.cart-icon{
  font-size: 20px;
  color: #585757;
  text-align: center;
  
}
.cart-icon-link{
    border-radius: 100%;
    position: relative;   
}
.quote{
    height: 350px;
    border:1px solid #ccc;     
}
.quote-icon{
    font-size: 50px;
    opacity: 9%;
}
.circle{
   height: 20px;
   width: 20px;
   border: 5px solid orange; 
   border-radius: 50%;
   position: relative;
   bottom: 35px;
   left: 120px;
}

.banner-con{
    display: flex;
    justify-content: space-around;
    font-size:25px;
    font-weight: 500;
   
   
}
.underline{
    padding-top: 100px;
}
.icon{
    position: relative;
    padding: 30px;
}
.bottom{
    padding-left: 120px;
}